name: main

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gleam: ["0.25.0"]
        erlang: ["25.0.2"]
        node: ["18.12.1"]
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/test
        with:
          gleam-version: ${{ matrix.gleam }}
          erlang-version: ${{ matrix.erlang }}
          node-version: ${{ matrix.node }}
