name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Release
        uses: softprops/action-gh-release@v1
  hexpm-publish:
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/test
      - name: publish to hex
        env:
          HEXPM_USER: ${{ secrets.HEXPM_USER }}
          HEXPM_PASS: ${{ secrets.HEXPM_PASS }}
        run: gleam publish -y
