name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.0.0
      - uses: gleam-lang/setup-erlang@v1.1.2
        with:
          otp-version: "24.2"
      - uses: gleam-lang/setup-gleam@v1.0.2
        with:
          gleam-version: "0.19.0-rc4"
      - run: gleam format --check src test
      - run: gleam deps download
      - run: gleam test
